.contents {
  width: 100%;
  /* 高さの指定。vhはブラウザの表示域を基準にする単位 */
  height: 100vh;

  /* 中央揃えのた目のコード */
  display: grid;
  place-items: center;
}

.outer {
  border: 1px solid #ccc;
  background-color: #f5f5f5;
  width: 400px;
}

.buttons {
  background-color: #f5f5f5;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* 高さの指定。inherit=親要素を受け継ぐ。この場合200px */
  height: 100px;
}
